// Colors
$black: #1f1f1f;
$grey: #BBBBBB;
$white: #ffffff;
$blue: #5AADBB;
$lightBlue: #bfe6ed;
$linkBlue: #0096c7;
$red: #cf4646;

// Fonts
$parisish: 'Parisish', 'Open Sans', sans-serif;

// Screens
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Containers
$container-sm: 720px;
$container-md: 940px;
$container-lg: 1140px;
.title {
  background-color: $blue;
  color: $white;
  text-align: center;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  h1 {
    margin: 1rem 0;
  }
}

.title-text {
  flex: 2;
  width: 50%;
}

.title-text-title {
  font-size: 4rem;
  font-weight: normal;
  font-family: $parisish;
}

.title-logo {
  flex: 1;
  width: 50%;
  height: 20rem;

  img {
    height: 100%;
  }

  &.small {
    height: 8rem;
  }
}

.options h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  font-family: $parisish;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.option-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .5rem;
}

.option-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $black;
  border-radius: .5rem;
}

.option-value {
  width: 12rem;
  padding: 1rem;

  img {
    height: 10rem;
    width: 10rem;
  }

  &:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  &:hover, &.active {
    background-color: $lightBlue;
  }
}

.option-name {
  text-align: center;
  font-family: $parisish;
  font-size: 2rem;
  margin: 0;
}
.doc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.doc-content {
  flex: 4;
  width: 80%;
}

.doc-toc {
  flex: 1;
  width: 20%;
}

.doc-toc-item {
  list-style-type: none;
  padding: .5rem 1rem;
  border-bottom: 1px solid $grey;

  a {
    color: $linkBlue;

    &:hover {
      color: $black;
    }
  }

  &.active {
    background-color: $blue;

    a {
      color: white;
      font-style: italic;
    }
  }
}
.blog-summary {
  list-style-type: none;
}
@font-face {
  font-family: 'Parisish';
  src: url('/assets/fonts/Parisish.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 18px;
}

body, h1, h2, h3 {
  // font-weight: 300
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: $linkBlue;

  &:hover {
    color: $blue;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: $black;
  color: $white;
  height: 3rem;
}

header a {
  color: $white;

  &:hover {
    color: $blue;
  }
}

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.header-links {
  flex: 1;
  text-align: right;
  margin: 0 1rem;

  a {
    margin-left: 1rem;
  }
}

.header-social img {
  height: 2rem;
  vertical-align: middle;
}

footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $blue;
  text-align: center;
  color: white;

  a {
    color: $black;

    &:hover {
      color: $lightBlue;
    }
  }
}

.container {
  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
  margin: 0 auto;
}
