/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
.title {
  background-color: #cf4646;
  color: #ffffff;
  text-align: center; }
  .title .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem; }
  .title h1 {
    margin: 1rem 0; }

.title-text {
  flex: 2;
  width: 50%; }

.title-text-title {
  font-size: 4rem;
  font-weight: normal;
  font-family: "Parisish", "Open Sans", sans-serif; }

.title-logo {
  flex: 1;
  height: 18rem; }
  .title-logo img {
    height: 100%;
    border: 1rem solid white;
    border-radius: 50%; }
    .title-logo img.gulp-angular-logo {
      border: none; }
  .title-logo.small {
    height: 8rem; }
    .title-logo.small img {
      border-width: .5rem; }

.tagline {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal; }

.yeoman-logo {
  float: right; }

.options h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  font-family: "Parisish", "Open Sans", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem; }

.option-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .5rem; }

.option-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1f1f1f;
  border-radius: .5rem; }

.option-value {
  width: 12rem;
  padding: 1rem; }
  .option-value img {
    height: 10rem;
    width: 10rem; }
  .option-value:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem; }
  .option-value:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem; }
  .option-value:hover, .option-value.active {
    background-color: #bfe6ed; }

.option-name {
  text-align: center;
  font-family: "Parisish", "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 0; }

.option-description h3 {
  text-align: left;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem; }

.doc {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.doc-content {
  flex: 4;
  width: 80%; }

.doc-toc {
  flex: 1;
  width: 20%; }

.doc-toc-item {
  list-style-type: none;
  padding: .5rem 1rem;
  border-bottom: 1px solid #BBBBBB; }
  .doc-toc-item a {
    color: #0096c7; }
    .doc-toc-item a:hover {
      color: #1f1f1f; }
  .doc-toc-item.active {
    background-color: #5AADBB; }
    .doc-toc-item.active a {
      color: white;
      font-style: italic; }

.blog-summary {
  list-style-type: none; }

@font-face {
  font-family: 'Parisish';
  src: url("/assets/fonts/Parisish.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 18px; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem; }

a {
  text-decoration: none;
  color: #0096c7; }
  a:hover {
    color: #5AADBB; }

header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  color: #ffffff;
  height: 3rem; }

header a {
  color: #ffffff; }
  header a:hover {
    color: #5AADBB; }

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 0 1rem; }

.header-links {
  flex: 1;
  text-align: right;
  margin: 0 1rem; }
  .header-links a {
    margin-left: 1rem; }

.header-social img {
  height: 2rem;
  vertical-align: middle; }

footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #5AADBB;
  text-align: center;
  color: white; }
  footer a {
    color: #1f1f1f; }
    footer a:hover {
      color: #bfe6ed; }

.container {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }
