/* Note callouts */

.note {
  padding: 25px;
}

.note pre,
.note code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
  border-width: 0;
}

.note.important {
  background: #f2dede;
}

.note.important code,
.note.important pre {
  background: #e2cbcb;
}

.note.tip {
  background: #d2e0d2;
}

.note.tip code,
.note.tip pre {
  background: #bed3be;
}

.note p,
.note li {
  font-size: 0.9em;
}

.note h2 {
  font-size: 1em;
  margin-top: 1em;
}

.note *:first-child {
  margin-top: 0;
}

.note *:last-child {
  margin-bottom: 0;
}
