.doc {
  display: flex;
  justify-content: space-around;

  flex-direction: column;
  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}

.doc-content {
  flex: 4;
  width: 80%;

  width: 100%;
  order: 1;
  @media (min-width: $screen-sm) {
    max-width: 80%;
    order: 0;
  }
}

.doc-toc {
  flex: 1;
  padding: 0;

  width: 100%;
  @media (min-width: $screen-sm) {
    width: 20%;
  }
}

.doc-toc-item {
  list-style-type: none;
  padding: .5rem 1rem;
  border-bottom: 1px solid $grey;

  a {
    color: $linkBlue;

    &:hover {
      color: $black;
    }
  }

  &.active {
    background-color: $blue;

    a {
      color: white;
      font-style: italic;
    }
  }
}
