.title {
  background-color: $blue;
  color: $white;
  text-align: center;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // height: 20rem;
    padding: 1rem;
  }
}

.title-text {
  flex: 2;
  width: 50%;
}

.title-text-title {
  font-size: 4rem;
  font-weight: normal;
  font-family: $parisish;
}

.title-logo {
  flex: 1;
  width: 50%;
  height: 20rem;

  img {
    height: 100%;
  }
}

.options {
  h2 {
    // font-size: 2.5rem;
    // text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;
    font-family: $parisish;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

// .option-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

.option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.option-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .5rem;
}

.option-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $black;
  border-radius: .5rem;
}

.option-value {
  width: 12rem;
  padding: 1rem;

  img {
    height: 10rem;
    width: 10rem;
  }

  &:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  &:hover, &.active {
    background-color: $lightBlue;
  }
}

.option-name {
  text-align: center;
  font-family: $parisish;
  font-size: 2rem;
  margin: 0;
}
