.title {
  // background-color: $blue;
  background-color: $gulpRed;
  color: $white;
  text-align: center;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  h1 {
    margin: 1rem 0;
  }
}

.title-text {
  flex: 2;
  width: 50%;
}

.title-text-title {
  font-size: 4rem;
  font-weight: normal;
  font-family: $parisish;
}

.title-logo {
  flex: 1;
  height: 18rem;

  img {
    height: 100%;
    border: 1rem solid white;
    border-radius: 50%;

    &.gulp-angular-logo {
      border: none;
    }
  }

  &.small {
    height: 8rem;

    img {
      border-width: .5rem;
    }
  }
}

.tagline {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
}

.yeoman-logo {
  float: right;
}

.options h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  font-family: $parisish;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.option-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .5rem;
}

.option-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $black;
  border-radius: .5rem;
}

.option-value {
  width: 12rem;
  padding: 1rem;

  img {
    height: 10rem;
    width: 10rem;
  }

  &:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  &:hover, &.active {
    background-color: $lightBlue;
  }
}

.option-name {
  text-align: center;
  font-family: $parisish;
  font-size: 2rem;
  margin: 0;
}

.option-description h3 {
  text-align: left;
  font-family: $roboto;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
