@import 'variables.scss';
@import 'home.scss';
@import 'doc.scss';
@import 'blog.scss';

@font-face {
  font-family: 'Parisish';
  src: url('/assets/fonts/Parisish.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 18px;
}

body, h1, h2, h3 {
  // font-weight: 300
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: $linkBlue;

  &:hover {
    color: $blue;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: $black;
  color: $white;
  height: 3rem;
}

header a {
  color: $white;

  &:hover {
    color: $blue;
  }
}

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.header-links {
  flex: 1;
  text-align: right;
  margin: 0 1rem;

  a {
    margin-left: 1rem;
  }
}

.header-social img {
  height: 2rem;
  vertical-align: middle;
}

footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $blue;
  text-align: center;
  color: white;

  a {
    color: $black;

    &:hover {
      color: $lightBlue;
    }
  }
}

.container {
  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
  margin: 0 auto;
}
