@import 'variables';
@import 'home';

@font-face {
  font-family: 'Parisish';
  src: url('../assets/fonts/Parisish.ttf') format('truetype');
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

a {
  // color: black;
  text-decoration: none;

  &:hover {
    color: #155050;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: $black;
  color: $white;
}

header a {
  color: $white;

  &:hover {
    color: $blue;
  }
}

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}

.header-links {
  flex: 1;
  text-align: right;
  margin: 1rem;

  a {
    margin-left: 1rem;
  }
}
