@import '../../node_modules/prismjs/themes/prism-okaidia.css';

@import 'variables.scss';
@import 'home.scss';
@import 'download.scss';
@import 'options.scss';
@import 'doc.scss';
@import 'blog.scss';

@font-face {
  font-family: 'Parisish';
  src: url('/assets/fonts/Parisish.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 18px;
}

body, h1, h2, h3 {
  // font-weight: 300
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
  color: $linkBlue;

  &:hover {
    color: $blue;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: $black;
  color: $white;

  flex-direction: column;
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

header a {
  color: $white;

  &:hover {
    color: $blue;
  }
}

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: .3rem 1rem;

  text-align: center;
  @media (min-width: $screen-md) {
    text-align: left;
  }
}

.header-links {
  flex: 1;
  text-align: right;
  margin: .3rem 1rem;

  a {
    margin-left: 1rem;
  }

  text-align: center;
  @media (min-width: $screen-md) {
    text-align: right;
  }
}

.header-social img {
  height: 2rem;
  vertical-align: middle;
}

footer {
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $black;
  text-align: center;
  color: white;
}

.container {
  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: $gulpRed;
  color: $white;
  text-align: center;

  .container {
    display: flex;
    align-items: center;
    padding: 1rem;

    flex-direction: column;
    @media (min-width: $screen-sm) {
      flex-direction: row;
    }
  }

  h1 {
    margin: 1rem 0;
  }
}

.title-text {
  flex: 2;

  width: 100%;
  order: 1;
  @media (min-width: $screen-sm) {
    width: 50%;
    order: 0;
  }
}

.title-text-title {
  font-size: 4rem;
  font-weight: normal;
  font-family: $parisish;
}

.title-logo {
  flex: 1;
}

.title-logo-container {
  height: 12rem;
  width: 12rem;
  @media (min-width: $screen-xs) {
    height: 18rem;
    width: 18rem;
  }

  img {
    height: 100%;
    width: 100%;
    border: 1rem solid white;
    border-radius: 50%;

    &.gulp-angular-logo {
      border: none;
    }
  }

  &.small {
    margin: auto;
    height: 8rem;
    width: 8rem;

    img {
      border-width: .5rem;
    }
  }
}
