.options h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  font-family: $parisish;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.option-bloc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .5rem;
}

.option-bloc {
  display: flex;
  justify-content: center;
  border: 1px solid $black;
  border-radius: .5rem;

  flex-direction: column;
  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}

.option-value {
  width: 12rem;
  padding: 1rem;
  cursor: pointer;

  img {
    height: 10rem;
    width: 10rem;
  }

  &:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  &:hover, &.active {
    background-color: $lightBlue;
  }
}

.option-name {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.option-description h3 {
  text-align: left;
  font-family: $roboto;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
