// Colors
$black: #1f1f1f;
$grey: #BBBBBB;
$white: #ffffff;
$blue: #5AADBB;
$lightBlue: #bfe6ed;
$linkBlue: #0096c7;
$red: #cf4646;
$gulpRed: #cf4646;

// Fonts
$roboto: 'Roboto', 'Open Sans', sans-serif;
$parisish: 'Parisish', 'Open Sans', sans-serif;

// Screens
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Containers
$container-sm: 720px;
$container-md: 940px;
$container-lg: 1140px;
